In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("E:\ANACONDA\Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [4]:
obj_col = ['mainroad', 'guestroom', 'basement', 'hotwaterheating','airconditioning','prefarea', 'furnishingstatus'] 
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df[obj_col] = df[obj_col].apply(lambda col: LE.fit_transform(col))

In [5]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,2
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,2
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,2

In [6]:
x = df.drop('price', axis = 1)
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,2
541,2400,3,1,1,0,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,2

In [7]:
y = df['price'].values
y

array([13300000, 12250000, 12250000, 12215000, 11410000, 10850000,
       10150000, 10150000,  9870000,  9800000,  9800000,  9681000,
        9310000,  9240000,  9240000,  9100000,  9100000,  8960000,
        8890000,  8855000,  8750000,  8680000,  8645000,  8645000,
        8575000,  8540000,  8463000,  8400000,  8400000,  8400000,
        8400000,  8400000,  8295000,  8190000,  8120000,  8080940,
        8043000,  7980000,  7962500,  7910000,  7875000,  7840000,
        7700000,  7700000,  7560000,  7560000,  7525000,  7490000,
        7455000,  7420000,  7420000,  7420000,  7350000,  7350000,
        7350000,  7350000,  7343000,  7245000,  7210000,  7210000,
        7140000,  7070000,  7070000,  7035000,  7000000,  6930000,
        6930000,  6895000,  6860000,  6790000,  6790000,  6755000,
        6720000,  6685000,  6650000,  6650000,  6650000,  6650000,
        6650000,  6650000,  6629000,  6615000,  6615000,  6580000,
        6510000,  6510000,  6510000,  6475000,  6475000,  6440000,
        6440000,  6419000,  6405000,  6300000,  6300000,  6300000,
        6300000,  6300000,  6293000,  6265000,  6230000,  6230000,
        6195000,  6195000,  6195000,  6160000,  6160000,  6125000,
        6107500,  6090000,  6090000,  6090000,  6083000,  6083000,
        6020000,  6020000,  6020000,  5950000,  5950000,  5950000,
        5950000,  5950000,  5950000,  5950000,  5950000,  5943000,
        5880000,  5880000,  5873000,  5873000,  5866000,  5810000,
        5810000,  5810000,  5803000,  5775000,  5740000,  5740000,
        5740000,  5740000,  5740000,  5652500,  5600000,  5600000,
        5600000,  5600000,  5600000,  5600000,  5600000,  5600000,
        5600000,  5565000,  5565000,  5530000,  5530000,  5530000,
        5523000,  5495000,  5495000,  5460000,  5460000,  5460000,
        5460000,  5425000,  5390000,  5383000,  5320000,  5285000,
        5250000,  5250000,  5250000,  5250000,  5250000,  5250000,
        5250000,  5250000,  5250000,  5243000,  5229000,  5215000,
        5215000,  5215000,  5145000,  5145000,  5110000,  5110000,
        5110000,  5110000,  5075000,  5040000,  5040000,  5040000,
        5040000,  5033000,  5005000,  4970000,  4970000,  4956000,
        4935000,  4907000,  4900000,  4900000,  4900000,  4900000,
        4900000,  4900000,  4900000,  4900000,  4900000,  4900000,
        4900000,  4900000,  4893000,  4893000,  4865000,  4830000,
        4830000,  4830000,  4830000,  4795000,  4795000,  4767000,
        4760000,  4760000,  4760000,  4753000,  4690000,  4690000,
        4690000,  4690000,  4690000,  4690000,  4655000,  4620000,
        4620000,  4620000,  4620000,  4620000,  4613000,  4585000,
        4585000,  4550000,  4550000,  4550000,  4550000,  4550000,
        4550000,  4550000,  4543000,  4543000,  4515000,  4515000,
        4515000,  4515000,  4480000,  4480000,  4480000,  4480000,
        4480000,  4473000,  4473000,  4473000,  4445000,  4410000,
        4410000,  4403000,  4403000,  4403000,  4382000,  4375000,
        4340000,  4340000,  4340000,  4340000,  4340000,  4319000,
        4305000,  4305000,  4277000,  4270000,  4270000,  4270000,
        4270000,  4270000,  4270000,  4235000,  4235000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4200000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4200000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4193000,  4193000,
        4165000,  4165000,  4165000,  4130000,  4130000,  4123000,
        4098500,  4095000,  4095000,  4095000,  4060000,  4060000,
        4060000,  4060000,  4060000,  4025000,  4025000,  4025000,
        4007500,  4007500,  3990000,  3990000,  3990000,  3990000,
        3990000,  3920000,  3920000,  3920000,  3920000,  3920000,
        3920000,  3920000,  3885000,  3885000,  3850000,  3850000,
        3850000,  3850000,  3850000,  3850000,  3850000,  3836000,
        3815000,  3780000,  3780000,  3780000,  3780000,  3780000,
        3780000,  3773000,  3773000,  3773000,  3745000,  3710000,
        3710000,  3710000,  3710000,  3710000,  3703000,  3703000,
        3675000,  3675000,  3675000,  3675000,  3640000,  3640000,
        3640000,  3640000,  3640000,  3640000,  3640000,  3640000,
        3640000,  3633000,  3605000,  3605000,  3570000,  3570000,
        3570000,  3570000,  3535000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3500000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3500000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3493000,  3465000,  3465000,  3465000,
        3430000,  3430000,  3430000,  3430000,  3430000,  3430000,
        3423000,  3395000,  3395000,  3395000,  3360000,  3360000,
        3360000,  3360000,  3360000,  3360000,  3360000,  3360000,
        3353000,  3332000,  3325000,  3325000,  3290000,  3290000,
        3290000,  3290000,  3290000,  3290000,  3290000,  3290000,
        3255000,  3255000,  3234000,  3220000,  3220000,  3220000,
        3220000,  3150000,  3150000,  3150000,  3150000,  3150000,
        3150000,  3150000,  3150000,  3150000,  3143000,  3129000,
        3118850,  3115000,  3115000,  3115000,  3087000,  3080000,
        3080000,  3080000,  3080000,  3045000,  3010000,  3010000,
        3010000,  3010000,  3010000,  3010000,  3010000,  3003000,
        2975000,  2961000,  2940000,  2940000,  2940000,  2940000,
        2940000,  2940000,  2940000,  2940000,  2870000,  2870000,
        2870000,  2870000,  2852500,  2835000,  2835000,  2835000,
        2800000,  2800000,  2730000,  2730000,  2695000,  2660000,
        2660000,  2660000,  2660000,  2660000,  2660000,  2660000,
        2653000,  2653000,  2604000,  2590000,  2590000,  2590000,
        2520000,  2520000,  2520000,  2485000,  2485000,  2450000,
        2450000,  2450000,  2450000,  2450000,  2450000,  2408000,
        2380000,  2380000,  2380000,  2345000,  2310000,  2275000,
        2275000,  2275000,  2240000,  2233000,  2135000,  2100000,
        2100000,  2100000,  1960000,  1890000,  1890000,  1855000,
        1820000,  1767150,  1750000,  1750000,  1750000], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 0)

In [9]:
print(x_train.size)
print(y_train.size)

4380
365

In [10]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train, y_train)

LinearRegression()

In [11]:
y_test.size

180

In [12]:
y_hat = LR.predict(x_test)
y_hat.size

180

In [13]:
y_hat = LR.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_hat.reshape(len(y_hat),1), y_test.reshape(len(y_test),1)),1))

[[ 3956207.07  4585000.  ]
 [ 6233668.9   6083000.  ]
 [ 4411292.64  4007500.  ]
 [ 7493718.1   6930000.  ]
 [ 2862244.34  2940000.  ]
 [ 6984914.79  6195000.  ]
 [ 3303745.14  3535000.  ]
 [ 3156797.74  2940000.  ]
 [ 3574847.03  3500000.  ]
 [ 8265230.55  7980000.  ]
 [ 6632537.82  6755000.  ]
 [ 3718164.76  3990000.  ]
 [ 3751463.73  3150000.  ]
 [ 4562352.57  3290000.  ]
 [ 3968337.48  4130000.  ]
 [ 2030941.35  2660000.  ]
 [ 4019877.56  4410000.  ]
 [ 3605409.75  3710000.  ]
 [ 3204682.18  3360000.  ]
 [ 4721019.35  4270000.  ]
 [ 5823753.71  5005000.  ]
 [ 6548727.69  5383000.  ]
 [ 4702428.07  6440000.  ]
 [ 2728181.71  1890000.  ]
 [ 5396719.76  6125000.  ]
 [ 5702563.49  5460000.  ]
 [ 5362508.65  5803000.  ]
 [ 5467417.43  4620000.  ]
 [ 5600522.91  5530000.  ]
 [ 5901313.89  5950000.  ]
 [ 3326708.33  4305000.  ]
 [ 6483489.83  3640000.  ]
 [ 7226147.61  5250000.  ]
 [ 3026112.73  3325000.  ]
 [ 4573600.4   3703000.  ]
 [ 5229030.71  4753000.  ]
 [ 4948786.48  9100000.  ]
 [ 3646944.37  3500000.  ]
 [ 2970978.17  3150000.  ]
 [ 4058228.42  4270000.  ]
 [ 8041343.02  8960000.  ]
 [ 4970931.73  4060000.  ]
 [ 6484388.96  5740000.  ]
 [ 3634921.79  3129000.  ]
 [ 3902466.96  3633000.  ]
 [ 6321472.58  7560000.  ]
 [ 4594667.71  4620000.  ]
 [ 2798168.92  3290000.  ]
 [ 4129875.04  4165000.  ]
 [ 6540799.94  6650000.  ]
 [ 3958566.15  4165000.  ]
 [ 6955457.17  4690000.  ]
 [ 2628902.74  3150000.  ]
 [ 2959910.29  3850000.  ]
 [ 3588299.66  3290000.  ]
 [ 5258869.63  5075000.  ]
 [ 7099221.81  6510000.  ]
 [ 4005730.12  5740000.  ]
 [ 2896794.73  3780000.  ]
 [ 4437995.48  4795000.  ]
 [ 6007946.77  4900000.  ]
 [ 6635246.03  5460000.  ]
 [ 3323047.27  3500000.  ]
 [ 7182243.61  7525000.  ]
 [ 2633664.22  2835000.  ]
 [ 4977380.27  5495000.  ]
 [ 6750144.    8680000.  ]
 [ 2661103.99  4200000.  ]
 [ 3803140.26  4200000.  ]
 [ 5063398.59  4900000.  ]
 [ 4313744.07  3332000.  ]
 [ 7211674.53  6195000.  ]
 [ 5189370.38  4098500.  ]
 [ 5989183.88  6650000.  ]
 [ 4102491.09  3885000.  ]
 [ 4554784.81  4620000.  ]
 [ 2899309.82  1960000.  ]
 [ 7422669.26  6440000.  ]
 [ 2571541.62  1750000.  ]
 [ 3679813.98  3605000.  ]
 [ 4313744.07  3290000.  ]
 [ 6127015.95  4970000.  ]
 [ 5060194.37  4613000.  ]
 [ 5455436.    3850000.  ]
 [ 3767687.81  3500000.  ]
 [ 4075401.01  6107500.  ]
 [ 4866282.34  3780000.  ]
 [ 5120758.56  4900000.  ]
 [ 3885434.26  3570000.  ]
 [ 4307393.47  4340000.  ]
 [ 3291737.77  3500000.  ]
 [ 5849198.5   6300000.  ]
 [ 3116602.41  3395000.  ]
 [ 3639995.11  3815000.  ]
 [ 4512328.32  3920000.  ]
 [10370004.39 12250000.  ]
 [ 2967367.68  3080000.  ]
 [ 7044843.38  9310000.  ]
 [ 4387215.27  4270000.  ]
 [ 4546266.48  3780000.  ]
 [ 6428623.08  5600000.  ]
 [ 3254454.15  3290000.  ]
 [ 4463147.22  2380000.  ]
 [ 3428146.53  5110000.  ]
 [ 7319250.27  6650000.  ]
 [ 5176038.54  5810000.  ]
 [ 4117559.56  4123000.  ]
 [ 5138941.56  3080000.  ]
 [ 6288466.08  5530000.  ]
 [ 2692134.78  1750000.  ]
 [ 2788070.43  2695000.  ]
 [ 2087286.91  2870000.  ]
 [ 2687085.53  2590000.  ]
 [ 4574864.74  4515000.  ]
 [ 3052055.49  4410000.  ]
 [ 4388138.27  4585000.  ]
 [ 6845214.56  5250000.  ]
 [ 2697184.02  3570000.  ]
 [ 4191825.91  3640000.  ]
 [ 8492013.51  9800000.  ]
 [ 2420868.14  2940000.  ]
 [ 5040435.41  6083000.  ]
 [ 2665590.97  3255000.  ]
 [ 4759520.53  4893000.  ]
 [ 2780971.9   3150000.  ]
 [ 3264892.03  2975000.  ]
 [ 7434862.72  6930000.  ]
 [ 5143749.09  3500000.  ]
 [ 5193193.41  5880000.  ]
 [ 3728773.02  3500000.  ]
 [ 4552950.21  4235000.  ]
 [ 3220111.93  3710000.  ]
 [ 5545929.57  4060000.  ]
 [ 2697184.02  2345000.  ]
 [ 4790115.5   4550000.  ]
 [ 8471125.48 10150000.  ]
 [ 4540805.98  3640000.  ]
 [ 2915973.17  2660000.  ]
 [ 4368954.11  2233000.  ]
 [ 2077188.42  2135000.  ]
 [ 4876762.62  4277000.  ]
 [ 5020634.41  6230000.  ]
 [ 6279870.49  6300000.  ]
 [ 4732038.96  3920000.  ]
 [ 6491669.6   7350000.  ]
 [ 7363150.84  8400000.  ]
 [ 4710886.91  5215000.  ]
 [ 7257951.66  7420000.  ]
 [ 6470802.95  6230000.  ]
 [ 3681635.97  4900000.  ]
 [ 6047402.61  4550000.  ]
 [ 3181273.19  4060000.  ]
 [ 2698956.43  3010000.  ]
 [ 6776271.6   7343000.  ]
 [ 5899133.96  5600000.  ]
 [ 5560257.83  7140000.  ]
 [ 9574985.83 10150000.  ]
 [ 7667483.74  9870000.  ]
 [ 4544598.83  3780000.  ]
 [ 3030434.17  2940000.  ]
 [ 4240256.64  2653000.  ]
 [ 3144744.41  3836000.  ]
 [ 6432768.56  4760000.  ]
 [ 6412676.02  7962500.  ]
 [ 4366487.76  3143000.  ]
 [ 3516029.43  3500000.  ]
 [ 3858258.31  4690000.  ]
 [ 3098302.63  4340000.  ]
 [ 3817965.58  4515000.  ]
 [ 2233076.68  1767150.  ]
 [ 4333609.86  3080000.  ]
 [ 6383374.51  5950000.  ]
 [ 4829544.16  5530000.  ]
 [ 3692050.77  3150000.  ]
 [ 7547614.84  7210000.  ]
 [ 3295046.74  2800000.  ]
 [ 2737577.98  3045000.  ]
 [ 4530599.67  2835000.  ]
 [ 3363259.73  1820000.  ]
 [ 4031298.76  3465000.  ]]

In [14]:
print(LR.intercept_)
print(LR.coef_)

177324.99638551567
[ 2.52e+02  9.77e+04  9.43e+05  4.23e+05  4.58e+05  3.65e+05  3.72e+05
  1.36e+06  9.31e+05  2.28e+05  6.82e+05 -2.10e+05]

In [15]:
from sklearn.metrics import r2_score
r2_score(y_test, y_hat)

0.7201688647362828